html { 
	scroll-behavior: smooth; 
}

body{
	font-family: 'Mont';
	font-weight: 400;
	font-size: 18pt;
	height: 100dvh;
	width: 100vw;
	overflow-x: hidden;
}

section{
	width: 1600px;
	margin: 80px auto;
}
h1{
	font-size: 2.8em;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	margin: 30px 0;
}

h2{
	font-size: 2.8em;
	width: max-content;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	/* color: rgb(5, 5, 130); */
}
h3 {
	font-size: 2em;
	padding: 10px 3em;
	font-weight: 600;
	/* color: rgb(5, 5, 130); */
}

.info-list{
	font-size: 1.2em;
}

.info-list p{
	margin: 20px 0;
	transition: 0.4s ease-in-out;
	cursor: pointer;
	&:hover{
		
		transform: scale(1.03);
		&:nth-child(1n){
			color: var(--color-green);
		}
		&:nth-child(2n){
			color: var(--color-blue);
		}
		&:nth-child(3n){
			color: var(--color-orange);
		}
		&:nth-child(4n){
			color: var(--color-pink);
		}
	}
}

.info-list strong{
	display: block;
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 10px;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
/* 
* {
	outline: 1px red solid;
} */