
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
/* 
:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
} */

body{
	font-family: 'Mont';
	font-weight: 400;
	font-size: 18pt;
}

h2{
	font-size: 2.8em;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}
h3 {
	font-size: 2em;
	padding: 10px 3em;
	font-weight: 600;
}